<head>
    <title>
           {% block title %} Ai Arena {% endblock %}
    </title>
    <script type='text/javascript' src='/static/js/main.js'></script>
    <script type='text/javascript' src='/static/js/jquery-1.9.1.min.js'></script> 
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    {% block custom-head %}{% endblock %}
</head>
<body>
    <div id='top-container'>
        <div id='top-center-container'>
            <a href="{% url home %}"> 
                <h1>Ai Arena</h1>
            </a>
            {% block login %}
            <div id='login-container'>
                {% include "login_container.html" %} 
            </div>
            {%endblock %}
        </div>
    </div>
    <div id='main-container'>
       {% block main %} {% endblock %} 
    </div>
</body>
