{% load utils %}
<table id='dots-board'>
{% for i in 5|iterate %}
    <tr>
    {% for j in 5|iterate %}
        <td id='{{i}}{{j}}' class='dots-cell'></td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
