{% extends 'game_details.html' %}

{% block game-main %}
    <span class='game-title'>{{ game.name.capitalize }}</span>
    <p>
        <form method='POST' action='{% url save-game-details game.name %}'>
            <textarea name='statement'>{{ game.get_statement|safe }}</textarea>
            <input type='submit' class='red-button' /> 
        </form>
    </p>
{% endblock %}
