{% extends 'game_details.html' %}

{% block custom-head %}
    <script type='text/javascript' src='/static/js/submissions.js'></script>
{% endblock %}

{% block game-main %}
    <div class='data-table-wrapper'>
        <table class='data-table action-table'>
            <tr>
                <th>Submission Name</th>
                <th>Rating</th>
                <th>Status</th>
                <th>Submitted</th>
            </tr>
            {% for submission in submissions %}
                <tr id='{{submission.id}}'
                    onclick="window.location='{% url submission-info game.name submission.id %}'">
                    <td>{{ submission.get_name }}</td>
                    <td>{{ submission.rating }}</td>
                    <td class='submission-status-{{submission.status}}'>
                        {% if submission.status == 'pending' %}
                            <img src='/static/images/loader.gif' />
                        {% endif %}
                        {{ submission.status.capitalize }}
                    </td>
                    <td>{{ submission.created_at }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br />
    {% include 'new_submission_form.html' %}
{% endblock %}
