{% extends 'game_details.html' %}

{% block game-main %}
<div class='data-table-wrapper'>
    <table class='data-table action-table'>
        <tr>
            <th>Submissions Name</th>
            <th>User</th>
            <th>Rating</th>
        </tr>
        {% for submission in submissions %}
            <tr onclick="window.location='{% url submission-info game.name submission.id %}'" >
                <td class='tla'>{{ submission.get_name }}</td>
                <td class='tca'>{{ submission.user.username }}</td>
                <td class='tca'>{{ submission.rating }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
