{% extends 'base.html' %}

{% block main %}
<div id="game-options">
    <ul class="options">
        <li><a href='{% url game-details game.name %}'>Game Rules</a></li>
        {% if request.user.is_authenticated %}
            <li><a href='{% url game-submissions game.name %}'>My Submissions</a></li>
        {% endif %}
        <li><a href='#'>Forum</a></li>
        <li><a href='{% url game-ratings game.name %}'>Standings</a><li>
    </ul>
    {% if rounds %}
    <ul class="options">
        {% for round in rounds %}
            <li>
                <a href='#' onclick='toggle_round_submenu({{ round.index }})'>
                    Round {{ round.index }}
                </a>
                <ul class='options submenu' id='round-submenu-{{round.index}}'>
                    <li><a href={% url round-standings game.name round.index %}>
                            Standings
                    </a></li>
                    <li><a href='{% url round-matches game.name round.index%}'>
                            Match replays
                    </a></li>
                </ul>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="options">
        <span class='text-description'>
            Next round: {{ game.next_round_date }}
        </span> 
    </div>
</div>

<div id='game-main'>
    {% block game-main %}
        {% if request.user.is_superuser %}
            <div id='admin-options'>
                <a href='{% url edit-game-details game.name %}' class='red-button'>Edit</a>
                <a href='{% url view-game-history game.name %}' class='red-button'>View History</a>
            </div>
        {% endif %}
        <span class='game-title'>{{ game.name.capitalize }}</span>
        <p>
            {{ game_statement|safe }}
        </p>
        {% include 'new_submission_form.html' %}
    {% endblock %}
</div>

{% endblock %}
