{% extends 'base.html' %}
{% block main %}
    <div style="clear: both"></div>
    <ul id="games">
        {% for game in games %}
        <li class="cb game-thumbnail">
           <a href='{% url game-details game.name %}' class='game-entry'>
                <img src="{{game.get_image_src}}" />
                <div class="game-data">
                    <div class="game-title"><h3>{{ game.name.capitalize }} </h3></div>
                    <div class="game-description"><p>{{ game.description }}</p></div>
                </div>
                <div class="game-info">
                    <span class="info-field">Submissions:</span>
                    <span class="info-value">{{game.get_submissions.count}}</span>
                    <br />
                    <span class="info-field">Rounds played:</span>
                    <span class="info-value">{{game.get_rounds.count}}</span>
                    <br />
                    <span class="info-field">Next round:</span>
                    <span class="info-value">{{game.next_round_date}}</span>
                </div>
                <div class=cb></div>
           </a>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
