{% load utils %}

{% if request.user.is_authenticated %}
    Welcome {{ request.user.username.capitalize }}
    <a href='{% build_url 'logout' next_url=request.get_full_path %}' class='button'>Logout</a>
{% else %}
    <form action='{% url login %}' method='POST'>
        <input type='hidden' name='next_url' value='{{request.get_full_path}}' />
        User
        <input type='text' name='username' />
        Password
        <input type='password' name='password' />
        <input type='submit' class='button' value='Login' />
        <a href='{% url login-page %}' class='button'>Register</a>
    </form>
{% endif %}
