{% extends "base.html" %}

{% block login %}

{% endblock %}


{% block main %}
    <div id='main-login-header' class='round-top' />
        Login into Ai Arena
    </div>
    <div id='main-login-container' class='round-bottom' />
        <div id='login-div' class='fl'>
            <span class='text-description'>
                Already a member? Enter your credentials here to login.
            </span>
            <form action='{% url login %}' method="POST" />
                <table id='login-form-table'>
                    <tr class='form-field'>
                        <td><label for='username'>Username</label></td>
                        <td><input name='username' type='text' /></td>
                    </tr>
                    <tr class='form-field'>
                        <td><label for='Password'>Password</label></td>
                        <td><input name='password' type='password' /></td>
                    </tr>
                    <tr>
                        <td colspan=2>
                            <input type='submit' class='button' value='Login' />
                        </td>
                    </tr>
                </table>
           </form>
        </div>
        <div id='register-div' class='fl'>
            <span class='text-description'>
                You do not have an account on Ai Arena? Register now, it's easy, simple and free.
            </span>
            <form action='{% url register %}' method="POST">
                <table id='register-form-table'>
                    <tr class='form-error'>
                        <td></td>
                        <td>{{ register_errors.username.0 }}</td>
                    </tr>
                    <tr class='form-field'>
                        <td><label for='username'>Username</label></td>
                        <td><input name='username' type='text' value="{{ register_data.username }}"/></td>
                    </tr>
                    <tr class='form-error'>
                        <td></td>
                        <td>{{ register_errors.email.0 }}</td>
                    </tr> 
                    <tr class='form-field'>
                        <td><label for='email'>Email</label></td>
                        <td><input name='email' type='text' value="{{ register_data.email }}" /></td>
                    </tr>
                    <tr class='form-error'>
                        <td></td>
                        <td>{{ register_errors.password1.0 }}</td>
                    </tr> 
                    <tr class='form-field'>
                        <td><label for='password1'>Password</label></td>
                        <td><input name='password1' type='password'/></td>
                    </tr>
                    <tr class='form-error'>
                        <td></td>
                        <td>{{ register_errors.password2.0 }}</td>
                    </tr> 
                    <tr class='form-field'>
                        <td><label for='password2'>Confirm Password</label></td>
                        <td><input name='password2' type='password' /></td>
                    </tr>
                    <tr class='form-field'>
                        <td colspan=2>
                            <input type='submit' value='Register' class='button'>
                        </td>
                    </tr> 
                </table>
            </form>
        </div>
        <div class='cb'></div>
    </div>
{% endblock %}
