<div class='submission-form'>
    <form enctype="multipart/form-data" action="{% url new_submission %}" method="post"> 
        <input type='hidden' name="game" value='{{game.id}}' />
        <div class='justified-box-wrapper'>
            <div class='inline-justify'>
                <label for='name'>Name</label>
                <input type='text' name='name' /> 
            </div>
            <div class='inline-justify'>
                <label for='language'>Language</label>
                <select name='language'>
                    <option value='python'>Python</option>
                </select>
            </div>
            <div class='inline-justify'>
                <label for='submission'>File:</label>
                <input type="file" name="submission">
            </div>
            <div class='inline-justify'>
                <input type="submit" value="Submit">
            </div>
            <span class='stretch'></span>
        </div>
    </form>
</div>
