{% extends 'game_details.html' %}
{% load utils %}

{% block game-main %}
    {% for stage, groups in results.items %}
        <div class='stage-standings'>
        <h3>Stage {{stage}} </h3>
        {% for group in groups %}
            <div class='group-results'>
            <table class='standings-table group-standings'>
                <tr>
                    <th class='standings-cell'>Submission Name</th>
                    <th class='standings-cell'>Points</th>
                </tr>
                {% for row in group.standings %}
                    <tr class={% if row.2 %} 'winner' {% else %} 'loser' {% endif %} >
                        <td class='standings-cell'>{{ row.0|get_name:submissions_dict }}</td>
                        <td class='standings-cell'>{{ row.1 }}</td>
                    </tr>
                {% endfor %}
            </table>
            <table class='standings-table group-standings toggle-matches'
                   id='toggle-detailed-matches-{{group.unique_id}}'>
                <tr>
                    <th class='standings-cell'>
                        <a id="toggle-detailed-matches-link-{{group.unique_id}}"
                           href='#' 
                           onclick="toggle_matches('{{group.unique_id}}')">
                            View Matches
                        </a> 
                    </th>
                </tr>
            </table>
            <div id='detailed-matches-{{group.unique_id}}' style='display: none'>
            <table class='standings-table detailed-matches-table'>
                </tr>
                    {% for row in group.matches %}
                        <tr>
                            <td class='standings-cell {% if row.1 == row.0.0 %} winner {% else %} loser {% endif %}'>
                                {{row.0.0|get_name:submissions_dict}}
                            </td>
                            <td class='standings-cell {% if row.1 == row.0.1 %} winner {% else %} loser {% endif %}'>
                                {{row.0.1|get_name:submissions_dict}}
                            </td>
                        </tr>
                    {% endfor %}
                </div>
            </table>
            </div>    
        </div>
        {% endfor %}
        <div class='cb'></div>
        </div>
    {% endfor %}
{% endblock %}
