{% extends 'game_details.html' %}
{% load utils %}

{% block custom-head %}
    <script>
        // Number of matches breakdown by stage and group
        {% autoescape off %}
        var matches = {{matches|to_json}};
        var player_names = {{submissions_dict|to_json}};
        var round_id = {{round.id}};
        var game = '{{game.name}}';
        {% endautoescape %}
    </script>
    <script type='text/javascript' src='/static/js/match-replays.js'></script>

    <script type='text/javascript' src='/static/js/{{game.name}}.js'></script>
    <link rel="stylesheet" type="text/css" href="/static/css/{{game.name}}.css" />
{% endblock %}

{% block game-main %}

<div id="main-replay">
    <span id='match-replay-title'>Match title</span><br />
    <div id='game-replay-wrapper'> 
        {% include game.name|add:".html" %}
    </div>
    <div class='replay-options'>
        <a href='#' class='button' style="float: left" onclick='previous_move()'>Previous</a>
        <a href='#' class='button' style="float: right" onclick='next_move()'>Next</a>
        <div class='cb'></div>
    </div>
</div>

<div id='replay-select'>
    <div id='group-accordion'>
        <ul class='accordion'>
            {% for stage, groups in matches.iteritems %}
            <li class='slide'>
                <div class='slide_handle button' onclick='toggle_stage({{stage}})'>
                    Stage {{ stage }}
                </div>
                <div class='slide_content' id='stage-slide-{{stage}}'>
                    {% for group in groups %}
                        <div class='group-pill button' 
                             onclick='change_group({{stage}}, {{group}})'>
                            Group {{group|add:1}}
                        </div>
                    {% endfor %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class='cb'></div>
    <br />

    <div class='data-table-wrapper'>
        <table id='match-list' class='data-table action-table'>
            <tr>
                <th>Player 1</th>
                <th></th>
                <th>Player 2</th>
            </tr>
            {% for match in matches.1.0 %}
                    <tr class='match-entry' id='1-{{match.0}}-{{match.1}}' 
                        onclick="load_match('1-{{match.0}}-{{match.1}}')">
                            <td>{{ match.0|get_name:submissions_dict }}</td>
                            <td>vs</td>
                            <td> {{ match.1|get_name:submissions_dict }}</td>
                    </tr> 
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}

