{% extends 'game_details.html' %}

{% block custom-head %}
    <script type='text/javascript' src='/static/js/highcharts.js'></script>
    <script type='text/javascript' src='/static/js/charts.js'></script>
    {% if submission.status == 'active' %}
    <script type='text/javascript'>
        $(function() {
            rating_history = [
                {% for row in submission.get_rating_history %} 
                    {
                        y: {{row.0}},
                        x: Date.UTC({{row.1.year}}, {{row.1.month|add:-1}}, {{row.1.day}}),
                        {% if not row.2 %}
                            name: 'Submission created'
                        {% else %}
                            name: '{{row.2}}'
                        {% endif %}
                    },
                {% endfor %}
            ];

            match_history = [
                {% for row in winrate_history %}
                    {
                        y: {{ row.0 }},
                        name: '{{ row.1 }}'
                    },
                {% endfor %}
            ]
            create_rating_chart('rating-chart', 'Rating History for {{submission.get_name}}', rating_history);
            create_winrate_chart('match-chart', 'Match History for {{submission.get_name}}', match_history); 
        })
    </script>
    {% endif %}
{% endblock %}

{% block game-main %}
    <div id='submission-data' class='game-info'>
        <span class='info-field'>Submitted By</span>
        <span class='info-value'>{{ submission.user.username }}</span>
        <div class='cb'></div>
 
        <span class='info-field'>Submitted on:</span>
        <span class='info-value'>{{ submission.created_at }}</span>
        <div class='cb'></div>

        <span class='info-field'>Status</span>
        <span class='info-value'>{{ submission.status }}</span>
        <div class='cb'></div>

        <span class='info-field'>Rounds:</span>
        <span class='info-value'> {{ round_count }}</span>
        <div class='cb'></div>

        <span class='info-field'>Matches:</span>
        <span class='info-value'> {{ match_count }}</span>
        <div class='cb'></div>
    </div>
    <div class='cb'></div>
    {% if submission.status == 'active' %}
        <div id='rating-chart' class='chart'></div>
        <div id='match-chart' class='chart'></div>
    {% elif submission.status == 'inactive' %}
        <div class='data-table-wrapper'>
            <table class='data-table'>
                <tr>
                    <th>Sample Player</th>
                    <th>Game Master</th>
                    <th>{{ submission.get_name }}
                </tr>
                {% for row in raw_match_log %}
                    <tr>
                        <td>{{ row.sample }}</td>
                        <td>{{ row.master }}</td>
                        <td>{{ row.user_submission }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}
