<table class='tictactoe-board inner-border'>
    <tr>
        <td id='00' class='tictactoe-cell'></td>
        <td id='01' class='tictactoe-cell'></td>
        <td id='02' class='tictactoe-cell'></td>
    </tr>
    <tr>
        <td id='10' class='tictactoe-cell'></td>
        <td id='11' class='tictactoe-cell'></td>
        <td id='12' class='tictactoe-cell'></td>
    </tr>
    <tr>
        <td id='20' class='tictactoe-cell'></td>
        <td id='21' class='tictactoe-cell'></td>
        <td id='22' class='tictactoe-cell'></td>
    </tr>
</table>
