{% extends 'game_details.html' %}
{% load utils %}
{% block game-main %}
    <table class='data-table'>
        <tr>
            <th>Id</th>
            <th>Created by</th>
            <th>Created on</th>
            <th>Options</th>
        </tr>
        {% for version in versions %}
            <tr>
                <td>{{ forloop.counter0 }}</td>
                <td>{{ version.created_by.username }}</td>
                <td>{{ version.created_at }}</td>
                <td>
                    <a class='button' href='{% build_url 'game-details' game.name version=forloop.counter0 %}'>View</a>
                    <a class='button' href='{% build_url 'game-details' game.name version=forloop.counter0 %}'>Delete</a> 
                </td>
            </tr> 
        {% endfor %}
    </table>
{% endblock %}
