#dots-board {
    border-collapse: collapse;
}

.dots-cell {
    width: 80px;
    height: 80px;
    border: 1px solid #EEE;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
