body {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    margin: 0px;
}

#top-container {
    height: 100px;
    width: 100%;
    background-color: #900;
    top: 0;
}

#top-center-container {
    margin: auto;
    width: 70%;
}

#login-container {
    position: relative;
    color: white;
    top: 68px;
    float: right;
}

.round-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.round-bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#main-login-header {
    position: relative;
    width: 601px;
    margin: auto;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}

.text-description {
    font-size: 12px;
    color: #777;
}

.form-error {
    font-size: 12px;
    color: #900;
}

label {
    color: #555;
    font-size: 13;
    font-style: italic;
    font-weight: bold;
}

#main-login-container {
    position: relative;
    width: 621px;
    margin: auto;
    border: 1px solid #ddd;
}

#login-div {
    width: 290px;
    height: 100px;
    padding: 10px;
}

#register-div {
    width: 290px;
    padding: 10px;
    border-left: 1px solid #ddd;
}

.button, .button:hover {
    background-color: #F5F5F5;
    border: none;
    color: #404040;
    padding: 2px 15px 2px 15px;
    border-radius: 7px;
    cursor: pointer;
    margin: 2px;
    font-size: 12px;
    font-weight: bold;
}

.red-button, .red-button:hover {
    background-color: #900;
    border: none;
    color: white;
    padding: 2px 15px 2px 15px;
    border-radius: 7px;
    cursor: pointer;
    margin: 2px;
    text-shadow: 0px 0px 1px black;
    font-size: 12px;
    font-weight: bold;
}

#login-container input[type=text], #login-container input[type=password] {
    width: 100px;
}

input[type=text], input[type=password] {
    border-radius: 20px;
    padding-left: 7px;
    padding-right: 7px;
}

#main-container {
    margin: auto;
    width: 100%;
    display: block;
    top: 120px;
    margin-top: 30px;
}

#top-container h1 {
    top: 10px;
    font-size: 30px;
    color: white;
    position: absolute;
}

.cb {
    clear: both;
}

.fl {
    float: left;
}

.winner {
    background-color: #00C720;
}

.loser {
    background-color: #DF3010;
}

th {
    background-color: #DDDDEE;
}

.group-results {
    float: left;
}

.standings-table {
    margin-right: 20px;
    border: 1px solid black;
    border-spacing: 0px;
    width: 14.5em;
}

.detailed-matches-table {
    margin-top: -1px;
}

.standings-cell {
    border: 1px solid black;
    padding: 1px 3px 1px 3px;
}

.view-matches-row {
    background-color: #DDDDEE;
}

.toggle-matches {
    margin-top: -1px;
}

a, a:hover {
    text-decoration: none;
    outline: none;
    color: black;
}

.view-matches-row td {
    text-align: center;
    font-weight: bold;
}

ul {
    padding: 0px;
}

#games {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.game-rounds {
    margin: auto;
}

.game-entry img {
    height: 100px;
    width: 100px;
    float: left;
    border: 10px solid white;
}

.game-thumbnail {
    margin-bottom: 0px !important;
    font-size: 13;
    border: 1px solid #ddd;
}

a.thumbnail.game-entry {
    padding: 0px;
}

li.game-thumbnail {
    background-color: #FFFFFF;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

li.game-thumbnail:hover {
    background-color: #FFFFDF;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.game-data {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd; 
    height: 120px; 
    width: 550px;
}

.game-description {
    color: #777;
}

.game-title h3 {
    font-size: 22;
}

.game-info {
    float: left;
    padding: 10px;
    font-size: 13;
    color: #777;
}

.info-value {
    font-style: italic;
    font-weight: bold;
    color: #555;
    font-size: 12;
}

#game-options {
    float: left;
    margin-top: 15px;
    margin-left: 5%;
}

#game-main {
    float: left;
    width: 80%;
    margin-left: 50px;
    margin-top: 20px;
}

.options {
    border-bottom: 1px solid #ddd;
    list-style: none;
    padding: 0px 0px 5px 5px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold; 
    margin: 0px 0px 10px 0px;
    width: 130px;
}

.options.submenu {
    border: none;
    display: none;
}

.options > li > a {
    color: #2223BB;
}

#main-replay {
    width: 450px;
    background-color: #900;
    color: white;
    text-align: center;
    border: 10px solid #900;
    border-radius: 10px;
    float: left;
    margin-left: 15px;
}

#replay-select {
    float: left;
    margin-left: 50px;
    width: 600px;
}

#game-replay-wrapper {
    border: 10px solid #F5F5F5;
    border-radius: 10px;
    background-color: #F5F5F5;
    width: 400px;
    margin: 10px auto;
}

#replay-left-controller {
    float: left;
    width: 100px;
}

#replay-left-controller select {
    width: 80px;
    text-align: center;
}

#replay-right-controller {
    float: left;
    width: 140px;
}

#replay-right-controller select {
    width: 120px;
    float: right;
    text-align: center;
}

.submission-form {
    background-color: #FFFFDF;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-right: 20px;
}

.submission-form form {
    margin-bottom: 0px;
}

.data-table-wrapper {
    border: 2px solid #900;
    border-radius: 5px;
    margin: auto;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table tr th {
    background-color: #900;
    color: white;
}

.data-table tr td {
    text-align: center;
}

.data-table tr:nth-child(even) {
    background-color: white;
    color: #404040;
}

.data-table tr:nth-child(odd) {
    background-color: #F5F5F5;
    color: #404040;
}

.tra {
    text-align: right;
    padding-right: 5px;
}

.tla {
    text-align: left;
    padding-left: 5px;
}

.tca {
    text-align: center;
}

.justified-box-wrapper {
    text-align: justify;
}

.inline-justify {
    display: inline-block;
}

.stretch {
    width: 100%;
    display: inline-block;
}

li.slide {
    float: left;
    background-color: #900;
    border: 2px solid #900;
}

li.slide:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 3px;
}

li.slide:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

div.slide_handle, div.slide_handle:hover {
    color: white;
    background-color: #900;
    float: left;
}

div.slide_content {
    float: left;
    overflow: hidden;
    display: none;
    white-space: nowrap;
    border-radius: 20px;
}

.group-pill {
    display: inline-block;
}

.action-table tr {
    cursor: pointer;
}

.action-table tr:hover {
    background-color: #FFFFDF;
}

.inner-border {
    border
}

.inner-border tr:first-child td, .inner-border tr:first-child th {
  border-top: none;
}

.inner-border tr:last-child td {
  border-bottom: none;
}

.inner-border tr td:first-child, .inner-border tr th:first-child {
  border-left: none;
}

.inner-border tr td:last-child, .inner-border tr th:last-child {
  border-right: 0;
}

.submission-status-active {
    color: green;
    font-weight: bold;
}

.submission-status-inactive {
    color: #900;
    font-weight: bold;
}

.submission-status-pending {
    color: #959595;
}

#admin-options {
    float: right;
    margin-right: 100px;
}

.game-title {
    font-weight: bold;
    font-size: 18px;
}

textarea {
    font-size: 16px;
    width: 100%;
    height: 80%;
}

.chart {
    width: 100%;
    height: 400px;
    margin-bottom: 100px;
}
