.tictactoe-cell {
    border: 1px solid #ddd;
    width: 131px;
    height: 131px;
    line-height: 131px;
    font-size: 60px;
    float: left;
    text-align: center;
}

.tictactoe-board {
    border-collapse: collapse;
}
